
body {
  --bg-scale: 60;

  background-color: #a405;
  background-image:
    repeating-linear-gradient(45deg,
      #fff7,
      #fff7 calc(1px * var(--bg-scale)),
      transparent 0px,
      transparent calc(2px * var(--bg-scale))),
    repeating-linear-gradient(-45deg,
      #fff9,
      #fff9 calc(1px * var(--bg-scale)),
      transparent 0px,
      transparent calc(2px * var(--bg-scale)));
  height: 100vh;
  background-size: 170px;
}

.form-container {
  max-width: 480px;
  backdrop-filter: blur(5px);
  background-color: #fff9;
}

